/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #343a40;
    color: rgb(111, 0, 255);
}

.main-content {
    flex: 1;
    padding: 20px;
}


/* Sidebar Styles */

.sidebar {
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: rgb(3, 3, 3);
}

.sidebar a:hover {
    color: #3172ff;
}


/* Main Content Styles */

.main-content {
    background-color: rgb(255, 0, 0);
}